.button {  
    display: block;  
    width: 200px;  
    margin-bottom: 14px;
    line-height: 4px;  
    font-size: 18px;  
    text-decoration: none;  
    color: #333;  
    border-radius: 0.5rem;
    letter-spacing: 2px;  
    text-align: center;  
    position: relative;  
    cursor: pointer;  
    transition: all .35s;
}
      
.button p {  
    position: relative;  
    z-index: 2;  
}
          
.button:after {  
    position: absolute;  
    content: "";  
    top: 0;  
    left: 0;  
    width: 0;  
    height: 100%;  
    background: rgb(255, 192, 70);;  
    transition: all .40s;
    border-radius: 0.3rem;
}
          
.button:hover {  
    color: #12161f;
}
          
.button:hover:after {  
    width: 100%;
}

@media (max-width: 600px) {
    .button {
        line-height: 34px;
        width: 54%;
    }

    .button p {
        font-size: 16px;
        margin: 0 10px;
    }
  }
  