.mini-game {
    text-align: center;
    color: #fff;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .mini-game__title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .mini-game__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .mini-game__score {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(255, 192, 70);
  }
  
  .mini-game__sequence {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .mini-game__progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    margin: 20px 0;
  }
  
  .mini-game__progress {
    background-color: rgb(255, 192, 70);
    height: 100%;
    transition: width 0.5s;
  }
  
  .mini-game__time-left,
  .mini-game__feedback {
    margin: 10px 0;
  }
  
  .mini-game__level {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .mini-game__score {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .mini-game {
      padding: 10px;
      max-width: 90%;
    }
  
    .mini-game__sequence-item {
      font-size: 18px;
      padding: 8px;
      margin: 4px;
    }
  
    .mini-game__progress-bar {
      height: 15px;
    }
  }
  