.mini-game-container {
  width: 100%;
}

.mini-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #282c34;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    position: relative;
    z-index: 1;
  }
  
  .mini-game__title {
    font-family: "Streetbomber", sans-serif;
    font-size: 4rem;
    font-weight: 100;
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  .mini-game__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .mini-game__buttons .button {
    width: 150px;
  }
  
  .mini-game__score {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(255, 192, 70);
  }
  
  .mini-game__time-left,
  .mini-game__feedback {
    margin: 10px 0;
  }
  
  .mini-game__level {
    margin-bottom: 20px;
    letter-spacing: 6px;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .mini-game__score {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .mini-game {
      padding: 10px;
    }
  }
  