.sequence {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  max-width: 100%; 
}

.sequence__item-container {
  position: relative;
  flex: 0 1 50px; 
  margin: 5px;
}

.sequence__item {
  width: 50px;
  height: 50px;
  padding: 1vw;
  font-size: 26px; 
  font-weight: 500;
  border: 2px solid rgb(255, 192, 70);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sequence__item--current {
  background-color: rgb(255, 192, 70);
  color: #282c34;
}

.sequence__item--correct {
  background-color: #32a852;
  border: 2px solid rgb(50, 168, 82);
  color: #fff;
}

.sequence__item--error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5vw;
  color: red;
  font-weight: bold;
  pointer-events: none;
}

@media (max-width: 600px) {
  .sequence__item {
    font-size: 20px;
    padding: 2vw;
    width: 45px; 
  }

  .sequence__item--error {
    font-size: 3vw;
  }
}

@media (min-width: 600px) and (max-width: 1200px) { 
  .sequence__item--error {
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .sequence__item--error {
    font-size: 1.5vw;
  }
}
