@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
  font-family: 'Streetbomber';
  src: url('../src/assets/fonts/Streetbomber.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(17, 19, 29);
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
}